@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

h1, h2 {
    font-family: 'Roboto';
}

body {

background-color: #ffeecc;
}

.title {
  margin-left:auto;
  margin-right:auto;
  width: 12em;
  display:block;
  font-weight: 900;
  font-size: 200%;
  font-family: 'Roboto';

}

.clean {
    color: #000000;
}
.mild-jargon {
    color: #cc3300;
    font-weight: bold;
}
.serious-jargon {
    color: #ff0000;
    font-weight: bold;
}

#form {
  margin-left:auto;
  margin-right:auto;
  width: 40em;
  display:block;
/*  border: 1px solid black; */
}

#output {
  margin-left:auto;
  margin-right:auto;
  width: 40em;
  display:block;
/*  border: 1px solid black;*/
}


#wrapper {
  width: 800px;
  overflow: hidden;
}

#footer {
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  width: 40em;
  display:block;

}
